body {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    padding: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


.container {
    max-width: 800px;
    margin: 20px;
    padding: 20px;
    background: url(../Images/banner.jpg);
    background-size: auto;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: left;
}

header{
    background-color: blue;
    padding: 5px;
    width: 100%;
    text-align: center;
 

}

header a{
    color: white;
    text-decoration: none;
    
}
#logo{
    width: 25%;
}
h1 {
    color: black;
    text-align: center;
}
p {
    color: black;
}
.mission {
    background-color:rgb(236, 236, 0);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
}
.vision {
    background-color:rgb(236, 236, 0); 
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
}
.core-values {
    background-color:rgb(236, 236, 0); 
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
}
h2 {
    color: blue;
}
th {
    text-align: left;
}